$list_to_sort: john anna zoe kim felicia carrie;

@function quicksort($list) {
  @if length($list) <= 1 {
    @return $list;
  }

  $pivot: nth($list, ceil(length($list) / 2));
  $less: ();
  $greater: ();

  @for $item in $list {
    @if $item != $pivot {
      @if $item < $pivot {
        $less: append($less, $item);
      } @else {
        $greater: append($greater, $item);
      }
    }
  }

  @return append(append(quicksort($less), $pivot), quicksort($greater));
}

$sorted_list: quicksort($list_to_sort);

@debug $sorted_list;
